:root {
  --main-color: rgb(63, 63, 63);
  --main-padding: 16px;
  --main-transition: 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.mobile {
  display: none;
}
/* -------------- */
nav {
  height: 80px;
  background-color: var(--main-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: sticky;
  top: 0;
}

.menu {
  margin-top: 48px;
}
.menu h2 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 32px;
}

.menu .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
}
.menu .container .box {
  background-color: var(--main-color);
  color: white;
  width: calc((100% - 32px) / 3);
  padding: var(--main-padding);
  border-radius: 10px;
  border: 3px solid rgb(255, 0, 0);
}
.menu .container .box h3 {
  text-align: center;
  margin-bottom: var(--main-padding);
  font-size: 1.5em;
}

/* mobile */
.mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.mobile .drop {
  line-height: 0.4;
  font-size: 1.5em;
  font-weight: bold;
  width: 40px;
  cursor: pointer;
}
.mobile .menuDown {
  position: fixed;
  width: 250px;
  height: 100%;
  top: 80px;
  right: -300px;
  background-color: white;
  color: var(--main-color);
  transition: var(--main-transition);
}
.mobile .menuDown.active {
  right: 0;
}
.mobile .menuDown li {
  width: 100%;
}
.mobile .menuDown a {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  color: var(--main-color);
  padding: var(--main-padding);
  transition: var(--main-transition);
}
.mobile .menuDown a:hover {
  background-color: var(--main-color);
  color: white;
}
/* ----------------- responsive */
@media (min-width: 799px) {
  .menu .container {
    width: 768px;
    margin: 0 auto;
    gap: 16px;
  }
  .menu .container .box {
    width: 100%;
  }
  .mobile {
    display: block;
  }
}
@media (max-width: 799px) {
  .menu .container {
    width: 90%;
    margin: 0 auto;
    gap: 16px;
  }
  .menu .container .box {
    width: 100%;
  }
  .mobile {
    display: block;
  }
}
@media (min-width: 970px) {
  .menu .container {
    width: 940px;
    margin: 0 auto;
    gap: 16px;
  }
  .menu .container .box {
    width: calc((100% - 16px) / 2);
  }
}
@media (min-width: 1170px) {
  .menu .container {
    width: 1140px;
    margin: 0 auto;
  }
  .menu .container .box {
    width: calc((100% - 32px) / 3);
  }
  .mobile {
    display: none;
  }
  .mobile {
    display: none;
  }
}
